<!--
    * Author: Christos Koutsiaris
    * Assessment 2 - BScH Mobile Development, Digital Skills Academy
    * Student ID: STU-00001219
    * Date: 2017/05/08
    * Code: BScHn16B_MDV_A2
-->

<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.example"
    versionCode = "10"
    version     = "1.0.0" >

  <name>Task list</name>

  <description>
      A simple task list for your needs
  </description>

  <author href="unseen1980.github.io/DigitalSkillsAcademyBsc" email="koutsiaris@gmail.com">
      Christos Koutsiaris
  </author>

</widget>