<!--
    * Author: Christos Koutsiaris
    * Assessment 2 - BScH Mobile Development, Digital Skills Academy
    * Student ID: STU-00001219
    * Date: 2017/05/08
    * Code: BScHn16B_MDV_A2
-->

<!DOCTYPE html>
<html lang="en" ng-app="todoApp">

<head>
    <title>My Task list</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <nav class="navbar navbar-inverse" role="navigation" ng-init="isNavCollapsed = true">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="isNavCollapsed = !isNavCollapsed">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
            <a class="navbar-brand logo" href="#">
                <img src="assets/logo.png" class="img-logo">Task list
            </a>
        </div>
        <div class="collapse navbar-collapse" uib-collapse="isNavCollapsed">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/settings" ng-click="isNavCollapsed = !isNavCollapsed">Settings</a></li>
            </ul>
        </div>
    </nav>
    <div class="full-height animate-page" ng-view></div>
    <script src="lib/angular.js"></script>
    <script src="lib/angular-route.js"></script>
    <script src="lib/angular-animate.min.js"></script>
    <script src="lib/ui-bootstrap-tpls.min.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/routes.js"></script>
    <script src="scripts/controllers/todo-list.controller.js"></script>
    <script src="scripts/controllers/settings.controller.js"></script>
    <script src="scripts/controllers/edit-todo.controller.js"></script>
    <script src="scripts/directives/todo-form.directive.js"></script>
    <script src="scripts/directives/todo-list.directive.js"></script>
    <script src="scripts/services/storage.js"></script>
    <script src="scripts/filters/truncate.filter.js"></script>
</body>

</html>