<!--
    * Author: Christos Koutsiaris
    * Assessment 2 - BScH Mobile Development, Digital Skills Academy
    * Student ID: STU-00001219
    * Date: 2017/05/08
    * Code: BScHn16B_MDV_A2
-->

<div class="container jumbotron jumbotron-settings">
    <div class="col-sm-12 col-lg-6">
        <button type="submit" data-ng-click="deleteCompleted()" class="btn btn-warning big-button">Delete completed tasks</button>
    </div>
    <div class="col-sm-12 col-lg-6">
        <button type="submit" data-ng-click="deleteAll()" class="btn btn-danger big-button">Delete all tasks</button>
    </div>
</div>